body{
    background: url(https://cdn.wallpapersafari.com/34/93/T1Oy9r.jpg)
}
h1{
    text-align: center;
    color:black;
    padding-top: 6%;
    font-size: 25px;
  
  }


label{
    color :black;

}  
h3{
    text-align: center;
    color:black;
    font-family: Serif;
    padding-top: 2%;
    font-size: 20px;
  }
#special{
    padding-bottom: 2%;
}


form{
    text-align: center;
    font-family: cursive;
    font-size: 20px;
  }
  #sbmit{
    padding: 15px 32px;
    text-shadow: 50px;
    font-weight: bolder;
    background-color: green;
    border-radius: 12px;
  }
.welcome-text a{
    border: 1px solid #ff0000;
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 20px;
    color: black;
  }
.welcome-text a:hover{
    padding: 15px 32px;
    text-shadow: 50px;
    font-weight: bolder;
    background-color: green;
    border-radius: 12px;
  }